.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-black);
    color: white;
    padding: 1rem 2rem;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app__navbar-logo img {
    width: 100px;
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.app__navbar-links li  {
    margin: 0 1rem;
    cursor: pointer;
}

.app__navbar-links li:hover {
    color: var(--color-grey)
}
/* 
dropdwon menu
*/
/* .app__navbar-links.dropdown {
    position: relative;
    top: calc(100% + .25rem)
  }
  
  .dropdown-link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    top: 100%;
    left: 0;

  } */
  
  /* Initially hide the dropdown menu 
  .app__navbar-dropdown {
    position: absolute;
    display: none; 
    flex-direction: column;
    background-color: var(--color-grey);
    border: 1px solid #fff;
    z-index: 1;
    text-decoration: none;
  }
  
  .dropdown-link a {
    text-decoration: none;
    color: #333;
    padding: 0.25rem;
  }
  
  
  .app__navbar-dropdown:hover {
    background-color: var(--color-white);
    
  }
  */
   /* Show the dropdown menu on hover 
  .dropdown:hover .app__navbar-dropdown{
    display: flex;
    margin-top: 2rem;
  }
  */
  
  .dropdown-link {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;

  }

  .dropdown-link:hover {
    
    color:aquamarine;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-menu{
    position: absolute;
    top: 100%;
    background-color: var(--color-gray);
    
  }
  .p__opensans.dropdown-text {
    text-decoration: none;
  }


.app__navbar-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__navbar-login a {
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s ease;
}
.app__navbar-login a:hover {
    border-bottom: 1px solid var(--color-purple);
}

/* 
Overlay of navigation styling 
*/

.app__navbar-smallscreen {
    display: none;
}
.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-black);
    transition: 0.5s ease;
    
    flex-direction: column;
    z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: var(--color-red);
    cursor: pointer;
    
    position: absolute;
    top: 20px;
    right: 20px;
}
.app__navbar-smallscreen_links {
    list-style: none;
}

.app__navbar-smallscreen_links li {
    margin: 2rem;
    cursor: pointer;
    color: var(--color-white);
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base)
    
}

.app__navbar-smallscreen_links li:hover {
    color: var(--color-grey);
}

/* 
Screen CSS Style
*/

@media screen and (max-width: 2000px) {
    .app__navbar-logo img {
        width: 100px;
    }
}
/* 
Mobile Screen settings

*/
@media screen and (max-width: 650px) {
    .app__navbar {
        padding: 1rem;
    }
    .app__navbar-login {
        display: none;
    }
    .app__navbar-logo img {
        width: 110px;
    }
}

@media screen and (max-width: 1150px) {
    .app__navbar-links {
        display: none;
    }
    .app__navbar-smallscreen {
        display: flex;
    }
}