.app__resources {
  
  background-color: var(--color-gray);
}

.app__resources-content {
    position: relative;
    
}

.app__resources-content {
    width: 100%;
    z-index:2;
    
}
.headtext__playfair.text__resources {
    padding: 2rem;

}
.app__resources-faq {
  margin-top: 3rem;
}


.app__resources-title {
    font-size: 50px;
}

.soccer__calender {
  color: rgb(11, 11, 11);
}

.custom-calendar {
  background-color: blueviolet;
}

/* Optionally, you can also highlight the weekends in a different color */
.custom-calendar .CalendarDay__weekend {
  background-color: #f0f0f0;
}

/* calendar.css */

/* Style for the entire calendar container */
.App {
text-align: center;
padding: 20px;
}

/* Style for the calendar title */
h1 {
font-size: 24px;
margin-bottom: 20px;

}

/* Change the color of the next and previous month navigation buttons */
.rbc-btn-group > button {
background-color: black; /* Change to your desired color */
color: #fff; /* Change to your desired color */
}

.rbc-btn-group > button:hover {
background-color: red; /* Change to your desired hover color */
color: #fff; /* Change to your desired hover color */
}


/* Style for the calendar */
.rbc-calendar {
width: 100%;
background-color: (241, 60, 60);
border: 1px solid #ccc;
border-radius: 5px;
padding: 20px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rbc-header {
color: #f0f0f0;
}

/* Style for the event container */
.rbc-event {
background-color: purple;
color: #fff;
padding: 2px 5px;
border-radius: 3px;
font-size: 14px;
margin-bottom: 5px;
cursor: pointer;
}

/* Style for the event tooltip */
.rbc-event-tooltip {
position: absolute;
background-color: rgba(0, 0, 0, 0.8);
color: #fff;
padding: 8px;
border-radius: 5px;
font-size: 12px;
z-index: 100;
}

/* Style for the event creation tooltip */
.rbc-event-creation-tooltip {
position: absolute;
background-color: rgba(0, 0, 0, 0.8);
color: #fff;
padding: 8px;
border-radius: 5px;
font-size: 12px;
z-index: 100;
cursor: pointer;
}

/* Style for the selected slot (time range) */
.rbc-selected-slot {
background-color: rgba(0, 123, 255, 0.3);
border: 1px solid #007bff;
border-radius: 3px;
cursor: pointer;
}


@media screen and (min-width: 2000px) {
    .p__playfair {
      font-size: 37px;
      line-height: 67px;
    }
  
    .p__opensans {
      font-size: 30px;
      line-height: 50px;
    }
  
    .headtext__playfair {
      font-size: 150px;
      line-height: 210px;
    }
  
    .pitch__img {
      width: 80px;
    }
  }
  
  @media screen and (max-width: 1150px) {
    .app__wrapper {
      flex-direction: column;
    }
  

  }
  
  @media screen and (max-width: 850px) {
    .section__padding {
      padding: 4rem;
    }
  }

  @media (max-width: 768px) {
    .rbc-calendar {
      font-size: 14px;
      padding: 10px;
    }
    .rbc-header {
      font-size: 14px;
      padding: 5px;
    }
    .rbc-today {
      font-size: 14px;
      padding: 5px;
    }
    .rbc-event {
      font-size: 12px;
      padding: 2px;
    }
    /* Adjust other styles as needed */
  }
  @media (max-width: 350px) {
    .rbc-calendar {
      font-size: 14px;
      padding: 10px;
    }
    .rbc-header {
      font-size: 14px;
      padding: 5px;
    }
    .rbc-today {
      font-size: 14px;
      padding: 5px;
    }
    .rbc-event {
      font-size: 12px;
      padding: 2px;
    }
    /* Adjust other styles as needed */
  }
  
  
  @media screen and (max-width: 650px) {
    .section__padding {
      padding: 4rem 2rem;
    }
    
    .p__playfair {
      font-size: 21px;
    }
  
    .p__opensans {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .p__opensans {
      font-size: 12px;
    }
  
    .p__playfair {
      font-size: 19px;
    }
  
    .headtext__playfair {
      font-size: 45px;
      line-height: 70px;
    }
  }
  