.app__header {
    background-color: var(--color-black);
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-purple);
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    line-height: 70px;
    font-size: 50px;
}

.app__header-img img {
    width: 80%;
}